@import url(css/face.css);
@import url(css/bootstrap.css);
@import url(css/bootstrap-rtl.min.css);
@import url(css/owl.carousel.min.css);
@import url(css/owl.transitions.css);
@import url(css/owl.theme.css);
@import url(css/jquery.mCustomScrollbar.min.css);
@import url(fonts/icon/remixicon.css);
button,
input,
.tooltip {
  font-family: "iranyekan";
  font-size: 15px;
  font-weight: 300;
}
*:focus {
  outline: none !important;
  text-decoration: none;
}
.no-padd {
  padding-right: 0;
  padding-left: 0;
}
.no-padd-r {
  padding-right: 0;
}
.no-padd-l {
  padding-left: 0;
}
body {
  background: #eeeff1;
  font-family: "iranyekan";
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.TopNav {
  z-index: 4;
  padding: 6px 0;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
}
.TopNavRight ul,
.TopNavLeft ul {
  padding: 0;
  margin: 0;
}
.TopNavRight ul li,
.TopNavLeft ul li {
  list-style: none;
  display: inline-block;
}
.TopNavRight ul li a,
.TopNavLeft ul li a {
  color: #373737;
  margin-left: 20px;
  font-weight: 300;
  font-size: 11px;
}
.TopNavRight ul li:last-child a,
.TopNavLeft ul li:last-child a {
  margin-left: 0;
}
.TopNavRight ul li a:hover,
.TopNavRight ul li a:active,
.TopNavLeft ul li a:hover,
.TopNavLeft ul li a:active {
  color: #0984e3;
  text-decoration: none;
}
.MainNav {
  z-index: 4;
  background: #fff;
}
.MainNav .Logo h1 {
  margin-top: 10px;
}
.MainNavUl ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 23px;
  list-style: none;
}
.MainNavUl ul li {
  display: inline-block;
  font-size: 12px;
  margin-left: 20px;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.2px;
  word-spacing: -0.5px;
  cursor: pointer;
  color: #464646;
}
.MainNavUl ul li a {
  color: #464646;
}
.OpenMegaMenuLg span::after {
  font-family: "remixicon";
  content: "\ea50";
  font-size: 15pt;
  position: absolute;
  top: 2px;
  font-weight: 100;
}
.MgShow {
  transition: 0.1s;
  display: flex !important;
}
.OpenMegaMenuLg .active {
  color: #0984e3;
}
.MainNavUl ul li i {
  font-size: 16px;
  position: relative;
  top: 5px;
}
.MainNavUl ul li a:hover,
.MainNavUl ul li a:active,
.MainNavUl ul li:hover {
  color: #0984e3;
  text-decoration: none;
}
.MainNavUl ul li svg {
  position: relative;
  top: 4px;
}
.MainNavUl ul li:first-child {
  margin-left: 40px;
}
.MainNavUl ul li:first-child::after {
  content: "";
  height: 20px;
  width: 1px;
  background: #eaeaea;
  margin-right: 28px;
  position: absolute;
  top: 5px;
}
.cart {
  position: relative;
  display: inline-block;
}
.cart i {
  font-weight: 100;
  font-size: 24px;
  line-height: 1;
}
.cart span {
  position: absolute;
  right: -7px;
  top: 10px;
  width: 16px;
  height: 16px;
  line-height: 1.7;
  background: #0984e3;
  color: #fff;
  font-size: 8pt;
  text-align: center;
  border-radius: 100%;
}
.cart {
  margin-top: 20px;
}
.cart a {
  color: #464646;
}
.LoginRgister {
  display: inline-block;
  position: relative;
  bottom: 8px;
}
.SearchBtn {
  display: inline-block;
  position: relative;
  bottom: 8px;
  transition: 0.2s ease-in-out;
}
.SearchBtn i {
  position: absolute;
  right: 9px;
  font-size: 15px;
  top: 2px;
}
.SearchBtnActive {
  background: #0984e3 !important;
  color: #fff !important;
  transition: 0.2s ease-in-out;
}
.SearchBtn:hover {
  background: #0984e3;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.SearchBtn {
  color: #636363;
  margin-left: 5px;
  cursor: pointer;
  background: #ddd;
  font-size: 11px;
  padding: 5px 15px;
  padding-right: 30px;
  padding-bottom: 6px;
  font-weight: 300;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  position: relative;
  border-radius: 200px;
}
.LoginRgister a {
  color: #fff;
  margin-left: 15px;
  background: #0984e3;
  font-size: 11px;
  padding: 5px 15px;
  padding-bottom: 6px;
  font-weight: 300;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  transition: 0.2s ease-in-out;
  border-radius: 200px;
}
.LoginRgister a:hover,
.LoginRgister a:active {
  text-decoration: none;
  background: #0a71c1;
  transition: 0.2s ease-in-out;
}
.Slider {
  margin: 15px 0;
}
.MainSlider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
.owl-MainSlider .owl-stage-outer {
  border-radius: 15px;
}
.MainSlider .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 200px;
  margin: 0 2px;
}
.MainSlider .owl-dots .active {
  background: #0984e3;
  width: 30px;
  transition: 0.2s ease-in-out;
}
.MainSliderItem {
  min-height: 500px;
  border-radius: 15px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
}
.OffSlider {
  background-color: white;
  min-height: 500px;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 0;
  padding-top: 65px;
}
.OffSlider .item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.OffSliderTitle {
  position: absolute;
  background: #ea2027;
  font-weight: 500;
  padding: 12px 40px;
  font-size: 10.5pt;
  color: #fff;
  top: 0;
  margin: 0;
  right: 0;
  border-bottom-left-radius: 20px;
}
.owl-OffSlider .item img {
  max-height: 285px;
  width: auto;
  margin: auto;
}
.OffSliderItemTitlte {
  margin: 20px 0;
  text-align: right;
  height: 50px;
  overflow: hidden;
}
.OffSliderItemTitlte a {
  text-align: right;
  font-size: 10.5pt;
  font-weight: 500;
  color: #464646;
}
.OffSliderItemTitlte a:hover,
.OffSliderItemTitlte a:active {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.AddToCartRed {
  background: #ea2027 !important;
}
.AddToCartBlue {
  background: #0984e3 !important;
}
.AddToCart {
  width: 40px;
  height: 40px;
  z-index: 99;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 7px;
  position: relative;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #0984e3;
  -webkit-box-shadow: 0px 9px 9px 0px rgba(56, 66, 77, 0.15);
  box-shadow: 0px 9px 9px 0px rgba(56, 66, 77, 0.15);
  transition: 0.2s ease-in-out;
}
.AddToCart i {
  transition: 0.2s ease-in-out;
  font-size: 24px;
  font-weight: 100;
}
.AddToCart:hover i {
  transform: rotate(10deg);
  transition: 0.2s ease-in-out;
}
.OffSliderItemPriceBox {
  text-align: left;
  position: relative;
  padding-left: 20px;
  float: left;
}
.TomnLbl90 {
  transform: rotate(90deg);
  color: #8e8e8e;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: -8px;
  font-weight: 300;
  margin-top: 10px;
}
.OffSliderItemPriceMain {
  color: #8e8e8e;
  line-height: 1;
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: -1px;
  word-spacing: -1px;
  display: inline-block;
  position: relative;
}
.OffSliderItemPriceMain::after {
  content: "";
  background: #8e8e8e;
  position: absolute;
  height: 1px;
  top: 8px;
  left: 0;
  right: 0;
}
.OffSliderItemPriceOff {
  color: #ea2027;
  font-weight: 500;
  font-size: 16pt;
  line-height: 1;
  letter-spacing: -1px;
  word-spacing: -1px;
}
.OffSliderItemPriceOff span {
  color: #fff;
  font-weight: 300;
  font-size: 10pt;
  position: relative;
  bottom: 2px;
  background: #ea2027;
  letter-spacing: 1px;
  word-spacing: 1px;
  border-radius: 100px;
  border-top-left-radius: 40px;
  padding: 0 5px;
  padding-top: 1px;
}
.owl-OffSlider .owl-dots {
  position: absolute;
  top: 30%;
  left: 20px;
}
.owl-OffSlider .owl-dot {
  margin: 2px 0;
  display: block;
  background: #ddd;
  width: 10px;
  transition: 0.2s ease-in-out;
  height: 10px;
  border-radius: 200px;
}
.owl-OffSlider .owl-dots .active {
  height: 30px;
  background: #ea2027;
  transition: 0.2s ease-in-out;
}
.ProductBox {
  padding: 0;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
  margin-bottom: 15px;
}
.ProductBoxTitle {
  border-bottom: 1px solid #f2f2f2;
  margin: 0 15px;
}
.ProductBoxTitle h3 {
  color: #0984e3;
  margin-top: 0;
  font-size: 10.5pt;
  line-height: 2.5;
  padding-bottom: 7px;
  position: relative;
  top: 11px;
  display: inline-block;
  border-bottom: 1px solid #0984e3;
}
.ProductBoxTitle a {
  display: inline-block;
  float: left;
  position: relative;
  top: 8px;
  line-height: 4;
  font-size: 8pt;
  color: #464646;
  font-weight: 500;
}
.ProductBoxTitle a:hover,
.ProductBoxTitle a:active {
  text-decoration: none;
  color: #0984e3;
}
.owl-Products .ProductsItemPic {
  max-height: 300px;
  display: flex;
  align-items: center;
}
.owl-Products .item img {
  max-height: 300px;
  width: auto;
  margin: auto;
}
.ProductsItemTitle {
  color: #464646;
  font-size: 10.5pt;
  height: 50px;
  line-height: 2;
  margin-bottom: 15px;
  overflow: hidden;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
}
.owl-Products a:active,
.owl-Products a:hover {
  text-decoration: none;
}
.owl-Products .item {
  padding: 20px;
  position: relative;
}
.ProductsItemPrice {
  float: left;
  text-align: left;
}
.ProductsItemPriceMain {
  font-weight: 500;
  font-size: 13pt;
  color: #464646;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.ProductsItemPriceMain span {
  font-size: 8.5pt;
  font-weight: 500;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  color: #464646;
}
.ProductsItemPriceOff {
  margin-bottom: 5px;
  color: #8e8e8e;
  line-height: 1;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: -1px;
  word-spacing: -1px;
  position: relative;
  display: inline-block;
}
.ProductsItemPriceOff::after {
  content: "";
  background: #8e8e8e;
  position: absolute;
  height: 1px;
  top: 8px;
  left: 0;
  right: 0;
}
.OffersLabel {
  position: absolute;
  color: #fff;
  font-weight: 300;
  font-size: 10pt;
  top: 20px;
  left: 20px;
  background: #ea2027;
  letter-spacing: 1px;
  word-spacing: 1px;
  border-radius: 100px;
  border-top-left-radius: 40px;
  padding: 0 5px;
  padding-top: 1px;
}
.ProductsItemPriceMainOffers {
  color: #ea2027;
}
.ProductsItemPriceMainNo {
  margin-top: 22px;
}

.Banner-hk-item:first-child {
  padding-left: 7.5px;
}
.Banner-hk-item:last-child {
  padding-right: 7.5px;
}
.Banner-hk img {
  border-radius: 15px;
  width: 100%;
}
.Banner-hk-item {
  margin-bottom: 15px;
}
.Banner-hk-full a img {
  margin-bottom: 15px;
}
.ProductsBoxScrollItem {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
  margin-bottom: 15px;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
.ProductsBoxScrollItemBg {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.ProductsBoxScrollItemBg:first-child {
  padding-right: 0;
}
.ProductsBoxScrollItemBg:last-child {
  padding-left: 0;
}
.ProductsBoxScrollItemTitle {
  position: absolute;
  background: #0984e3;
  font-weight: 500;
  padding: 12px 40px;
  font-size: 10.5pt;
  color: #fff;
  top: 0;
  margin: 0;
  right: 0;
  border-bottom-left-radius: 20px;
}
.ProductsBoxScrollItemTitleRed {
  background: #ea2027;
}
.ProductsBoxScrollItem ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ProductsBoxScrollItem ul li {
  position: relative;
  padding-right: 80px;
  height: 70px;
  background: white;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}
.ProductsBoxScrollItem ul li:last-child {
  margin-bottom: 0;
}
.ProductsBoxScrollItem ul li a:hover,
.ProductsBoxScrollItem ul li a:active {
  text-decoration: none;
}
.ProductsBoxScrollItem ul li a img {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
}
.ProductsBoxScrollItem ul li a h4 {
  font-size: 10.5pt;
  font-weight: 400;
  color: #464646;
  height: 40px;
  margin: 0;
  line-height: 1.3;
  padding-top: 5px;
  overflow: hidden;
}
.ProductsBoxScrollItemLiPrice {
  font-weight: 500;
  font-size: 13pt;
  color: rgb(70, 70, 70);
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.ProductsBoxScrollItemLiPriceTomanLbl {
  font-weight: 300;
  font-size: 10pt;
  color: #464646 !important;
  margin-right: 5px;
}
.ProductsBoxScrollItemLiPriceOffPrice {
  display: inline-block;
  color: #ea2027;
  margin-right: 8px;
  font-weight: 500;
  font-size: 13pt;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.ProductsBoxScrollItemLiPriceOff {
  margin-bottom: 5px;
  color: #8e8e8e;
  line-height: 1;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: -1px;
  word-spacing: -1px;
  position: relative;
  display: inline-block;
}
.ProductsBoxScrollItemLiPriceOff::after {
  content: "";
  background: #8e8e8e;
  position: absolute;
  height: 1px;
  top: 8px;
  left: 0;
  right: 0;
}
.ProductsBoxScrollItemList {
  height: 400px;
  overflow: hidden;
}
.BlogBox {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
  margin-bottom: 55px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
.BlogBoxHead {
  position: relative;
}
.BlogBoxHead h3 {
  color: #0984e3;
  font-weight: 500;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  font-size: 15pt;
  background: #fff;
  position: relative;
  padding-left: 10px;
  display: inline-block;
}
.BlogBoxHead::before {
  content: " ";
  height: 1px;
  position: absolute;
  background: #ddd;
  left: 0;
  right: 0;
  top: 34px;
}
.BlogBoxHead h3 span {
  color: #464646;
  font-size: 10pt;
}
.BlogBoxHead a {
  position: absolute;
  color: #464646;
  font-size: 10pt;
  font-weight: 500;
  line-height: 1;
  padding-right: 10px;
  background-color: white;
  top: 25px;
  left: 0;
}
.BlogBoxItemSpecial {
  margin-top: 10px;
  position: relative;
}
.BlogBoxItemSpecialImage {
  height: 420px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 7px;
}
.BlogBoxItemSpecialImage::after {
  background: #00000030;
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  z-index: 2;
  right: 0;
  bottom: 0;
}
.BlogBoxItemSpecialLabel {
  position: absolute;
  top: 15px;
  z-index: 3;
  left: 15px;
}
.BlogBoxItemSpecialLabel span {
  color: #fff;
  font-weight: 300;
  font-size: 10pt;
  background: #ea2027;
  letter-spacing: -0.5px;
  word-spacing: -1px;
  border-radius: 100px;
  font-weight: 500;
  border-top-left-radius: 40px;
  padding: 2px 8px;
  padding-top: 1px;
}
.BlogBoxItemSpecial a:hover,
.BlogBoxItemSpecial:active {
  text-decoration: none;
}
.BlogBoxItemSpecialTitle h4 {
  margin-top: 15px;
  color: #ea2027;
  font-weight: 500;
  font-size: 13pt;
  text-align: right;
  height: 40px;
  margin-bottom: 0;
  overflow: hidden;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.BlogBoxItemSpecialInfo {
  white-space: nowrap;
}
.BlogBoxItemSpecialInfo span {
  color: #aaa;
  font-size: 8pt;
  margin-left: 10px;
}
.BlogBoxItemSpecialInfo a {
  font-size: 9pt;
  color: #373737;
  font-weight: 500;
}
.BlogBoxList {
  margin-top: 20px;
}
.BlogBoxList a:hover,
.BlogBoxList:active {
  text-decoration: none;
}
.BlogBoxListItemImage {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.BlogBoxListItemImage img {
  width: 170px;
  height: 115px;
  border-radius: 7px;
}
.BlogBoxListItem {
  position: relative;
  padding-right: 190px;
  min-height: 120px;
}
.BlogBoxListItemTitle h4 {
  margin-top: 15px;
  color: #0984e3;
  font-weight: 500;
  font-size: 12pt;
  text-align: right;
  height: 35px;
  margin-bottom: 0;
  overflow: hidden;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.BlogBoxListItemDesc {
  line-height: 1.8;
  font-weight: 300;
  height: 50px;
  overflow: hidden;
  color: #464646;
  margin-bottom: 10px;
  font-size: 10pt;
}
footer {
  background: #fff;
}
.nav-footer {
  display: inline-block;
  width: calc(100% - 230px);
}
.nav-footer ul {
  padding: 0;
  margin: 40px 0;
  list-style: none;
}
.nav-footer ul li {
  display: inline-block;
}
.nav-footer ul li a {
  color: #464646;
  font-size: 9pt;
  font-weight: 300;
  margin-left: 20px;
}
.nav-footer ul li a:hover,
.nav-footer ul li a:active {
  text-decoration: none;
  color: #0984e3;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #f9f9fa;
  height: 8px;
  width: 100%;
  z-index: 3;
}
.GoTopFooter {
  display: inline-block;
  text-align: center;
  width: 230px;
  height: 67px;
  position: relative;
  vertical-align: top;
  margin-right: -30px;
  z-index: 4;
}
.GoTopFooter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("images/GoTopBg.svg") no-repeat center top;
  top: -1px;
  left: 0;
  z-index: 4;
}
.GoTopFooter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("images/GoTopBgBack.svg") no-repeat center top;
  top: 8px;
  left: 0;
  z-index: 3;
}
.SearchAreaSrchIconXs {
  display: none;
}
.GoTopFooter a {
  position: relative;
  z-index: 5;
  text-decoration: none;
  background: #0984e3;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 200%;
  line-height: 4;
  color: #fff;
}
.GoTopFooter a i {
  font-size: 24px;
  line-height: 1;
}
.GoTopFooter a::after {
  position: absolute;
  content: "";
  width: 50px;
  left: -5px;
  border-radius: 200%;
  right: -5px;
  top: -5px;
  bottom: -5px;
  height: 50px;
  border: 1px solid #0984e3;
  opacity: 0.3;
}
.GoTopFooter a::before {
  position: absolute;
  content: "";
  width: 60px;
  left: -10px;
  border-radius: 200%;
  right: -10px;
  top: -10px;
  opacity: 0.1;
  bottom: -10px;
  height: 60px;
  border: 1px solid #0984e3;
}
.MainFooterBoxInfo h2 {
  letter-spacing: -0.5px;
  font-size: 11pt;
  margin-top: 0;
}
.MainFooterBoxInfo h2 span {
  font-size: 11.5pt;
  margin-right: 5px;
  color: #0984e3;
}
.MainFooterBoxInfo p {
  font-size: 9pt;
  color: #636363;
  text-align: justify;
  line-height: 2;
  font-weight: 300;
}
.MainFooterBoxInfo p a {
  display: block;
  font-weight: 500;
  color: #000;
  margin-top: 5px;
  font-size: 8.5pt;
}
.MainFooterBoxInfo p a i {
  font-size: 15px;
  line-height: 0;
  position: relative;
  top: 5px;
}
.MainFooterBoxInfo p a:hover,
.MainFooterBoxInfo p a:active {
  text-decoration: none;
  color: #0984e3;
}
.MainFooterBoxInfo p a svg {
  position: relative;
  top: 4px;
}
.MainFooterBoxInfoBx2Call ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 15px;
}
.MainFooterBoxInfoBx2Call ul li {
  font-size: 9pt;
  margin-bottom: 10px;
  letter-spacing: -0.2px;
  word-spacing: -0.2px;
  font-weight: 500;
}
.MainFooterBoxInfoBx2Call ul li i {
  float: right;
  margin-left: 5px;
  font-size: 14px;
  line-height: 1;
}
.SocBtnFt {
  display: block;
  background: #ddd;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: 300;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  color: #fff;
  font-size: 10pt;
  position: relative;
  padding-left: 30px;
}
.SocBtnFt:hover,
.SocBtnFt:active {
  color: #fff;
  text-decoration: none;
}
.SocBtnFt i {
  top: 13px;
  font-size: 24px;
  left: 10px;
  line-height: 1;
  position: absolute;
}
.instagramBtnFt {
  background-image: linear-gradient(320deg, #4e60d3, #913baf 20%, #d52d88 45%, #f26d4f);
}
.TelegramBtnFt {
  background: #396afc;
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
}
.MainFooterBoxInfoBx2Soc {
  margin-top: 15px;
}
.container-fluid {
  padding-left: 3% !important;
  padding-right: 3% !important;
}
.BlogBoxFt ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
.BlogBoxFt {
  padding-right: 30px;
}
.BlogBoxFt ul li {
  position: relative;
  padding-right: 90px;
  margin-bottom: 10px;
}
.BlogBoxFt ul li h4 a {
  color: #0984e3;
}
.BlogBoxFt ul li h4 a:hover,
.BlogBoxFt ul li h4 a:active {
  text-decoration: none;
}
.BlogBoxFt ul li h4 {
  color: #0984e3;
  font-size: 10pt;
  line-height: 1.6;
  height: 45px;
  overflow: hidden;
  margin: 0;
}
.BlogBoxFt ul li img {
  border-radius: 3px;
  width: 85px;
  height: 70px;
  position: absolute;
  right: 0;
}
.BlogBoxFtTitle {
  font-size: 10pt;
  color: #464646;
  font-weight: 500;
  letter-spacing: -0.5px;
  position: relative;
  margin-top: 0;
}
.BlogBoxFtTitle span {
  position: relative;
  z-index: 2;
  padding-left: 10px;
  background: #fff;
}
.BlogBoxFtTitle::before {
  height: 1px;
  background: #f1f1f1;
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  top: 8px;
  left: 0;
}
.MainFooterBox {
  margin-top: 20px;
}
.HkNamad img {
  margin: auto;
  margin-bottom: 15px;
}
.CopyRight {
  border-top: 4px solid #f1f1f1;
  background: #f9f9fa;
  padding: 30px 0;
  margin-top: 30px;
  color: #ccc;
  font-size: 9pt;
  font-weight: 300;
}
.CartAndSearchBox {
  white-space: nowrap;
}
.SearchArea {
  background: #f9f9f9;
  border-top: 1px solid #efefef;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  z-index: 4;
}
.SearchAreaOpen {
  max-height: 62px !important;
  transition: max-height 0.25s ease-in !important;
}
.SearchAreaInput {
  overflow: hidden;
  transition: all 0.3s ease-out;
  height: auto;
  flex: 1;
}
.SearchAreaInput form {
  position: relative;
}
.SearchArea input {
  border: 0;
  background: transparent;
  width: calc(100% - 35px);
  line-height: 4;
}
.SearchArea input::-webkit-input-placeholder {
  /* Edge */
  font-weight: 300;
  font-size: 10pt;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
}

.SearchArea input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 300;
  font-size: 10pt;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
}

.SearchArea input::placeholder {
  font-weight: 300;
  font-size: 10pt;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
}
.CloseBtnSearchArea {
  width: 30px;
  height: 62px;
  padding: 18px 0;
  text-align: left;
  padding-left: 0;
  color: #464646;
  vertical-align: middle;
  display: inline-block;
}
.CloseBtnSearchArea i {
  font-size: 24px;
  transition: 0.2s;
  cursor: pointer;
  line-height: 1;
}
.CloseBtnSearchArea i:hover {
  background: #ddd;
  border-radius: 100%;
  transition: 0.2s;
}
.cart a:hover,
.cart a:active {
  text-decoration: none;
  color: #0984e3;
  transition: 0.2s;
}
.cart a {
  display: flex;
  transition: 0.2s;
}
.ProductBoxItems .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}
.ProductBoxItems .owl-nav > .owl-next {
  position: absolute;
  left: -5px;
  padding: 10px;
  background: #eeeff1;
  display: flex;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.ProductBoxItems .owl-nav > .owl-prev {
  position: absolute;
  right: -5px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  background: #eeeff1;
}
.HkMegeMenu {
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
}
.HkMegeMenuOpen {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.PrCategoryNav a:hover,
.PrCategoryNav a:active {
  text-decoration: none;
}
.PrCategoryNav {
  background: #fff;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  right: 0;
  z-index: 3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
.PrCategoryNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.PrCategoryNav > ul:first-child {
  width: 20%;
}
.PrCategoryNav > ul:first-child li {
  background: #fff;
  border-left: 1px solid #eeeff1;
  font-size: 10pt;
  font-weight: 500;
  color: #464646;
}
.PrCategoryNav > ul:first-child li a {
  padding: 12px;
  font-weight: 500;
  color: #464646;
  display: block;
  transition: 0.2s ease-in-out;
  font-size: 10pt;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.PrCategoryNav > ul:first-child li:last-child a {
  border-bottom: 0;
}
.PrCategoryNav > ul:first-child li:first-child a {
  border-top: 0;
}
.PrCategoryNav > ul:nth-child(1) a:first-child:hover {
  background: #fbfbfb;
  transition: 0.2s ease-in-out;
  color: #0984e3;
  border-color: #eeeff1;
}
.HasMegaMenuSubActive a {
  background: #fbfbfb !important;
  transition: 0.2s ease-in-out !important;
  color: #0984e3 !important;
  border-color: #eeeff1 !important;
}
.HasMegaMenuSubActive ul li a {
  background: transparent !important;
  color: #464646 !important;
}
.HasMegaMenuSubActive ul li a:hover {
  color: #0984e3 !important;
}
.HasMegaMenuSub a:first-child {
  position: relative;
}
.HasMegaMenuSub a:first-child:after {
  font-family: "remixicon";
  content: "\ea52";
  position: absolute;
  left: 5px;
  top: 8px;
  font-size: 20px;
}
.HasMegaMenuSub ul li a::after {
  display: none;
}
.PrCategoryNav ul:first-child ul {
  position: absolute;
  left: 0;
  right: 20%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.PrCategoryNav ul:first-child ul li {
  border: 0;
  direction: rtl;
  text-align: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.PrCategoryNav ul:first-child ul li a {
  border: 0;
  display: block;
  padding: 5px 10px;
}
.PrCategoryNav ul:first-child ul li a:hover {
  background: transparent;
}
.Hk-BreadCrumb {
  padding: 0;
  margin: 7.5px 0;
  margin-top: 20px;
}
.Hk-BreadCrumb ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.Hk-BreadCrumb ul li {
  position: relative;
  color: #8e8e8e;
  display: inline-block;
  font-size: 9pt;
  font-weight: 500;
}
.Hk-BreadCrumb ul li a {
  color: #464646;
  font-size: 8pt;
  font-weight: 300;
  position: relative;
}
.Hk-BreadCrumb ul li a:hover,
.Hk-BreadCrumb ul li a:active {
  text-decoration: none;
}
.Hk-BreadCrumb ul li a::after {
  font-family: "remixicon";
  content: "\ea52";
  position: relative;
  left: -5px;
  top: 7px;
  line-height: 0;
  font-size: 20px;
}
.Single-Pr {
  background: #fff;
  margin: 25px 0;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0px 5px 20px 0px rgba(77, 77, 77, 0.05);
  border-radius: 15px;
}
.Single-Pr-Content {
  padding: 0 10px;
}
.Single-Pr-Content-Title {
  margin-top: 0;
  line-height: 2;
  letter-spacing: -0.5px;
  font-size: 13pt;
}
.Single-Pr-Content-Title2 {
  color: #aaa;
  font-size: 10pt;
  margin-top: 0;
}
.Single-Pr-Content-Head {
  border-bottom: 1px solid #f1f1f1;
}
.Single-Pr-Picture {
  margin: 10px 0;
}
.Single-Pr-Content-Details {
  margin-top: 10px;
  font-weight: 500;
  font-size: 10pt;
}
.Single-Pr-Content-Details ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 8.5pt;
  line-height: 2;
  font-weight: 300;
  color: #686868;
}
.Single-Pr-Content-Details-Title {
  margin-bottom: 8px;
  display: block;
}
.Single-Pr-Content-Details-Category {
  margin-bottom: 8px;
  display: block;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
}
.Single-Pr-Content-Details-Category a {
  color: #0984e3;
  font-weight: 300;
  font-size: 9pt;
}
.Single-Pr-Content-Details-Category a:hover,
.Single-Pr-Content-Details-Category a:active {
  text-decoration: none;
}
.Single-Pr-Content-PriceCart {
  border: 1px solid #e4e4e4;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
}
@media (min-width: 1700px) {
  .container-fluid {
    padding-left: 9% !important;
    padding-right: 9% !important;
  }
}
@media only screen and (max-width: 1100px) {
  .MainNavUl ul li {
    font-size: 11px;
  }
}
@media only screen and (max-width: 991px) {
  .ProductsBoxScrollItemList {
    height: auto;
  }
  .SearchAreaSrchIconXs {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
  }
  .SearchAreaSrchIconXs button {
    background: transparent;
    border: 0;
    height: 62px;
    width: 50px;
    z-index: 2;
    font-size: 20px;
    color: #464646;
    align-items: center;
    text-align: left;
    padding-top: 3px;
    padding-left: 2px;
  }
  .PrCategoryNav {
    position: fixed;
    bottom: 0;
    left: 50%;
    border-radius: 0;
    right: 0;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.336) !important;
    top: 0;
    overflow-y: auto;
  }
  .PrCategoryNav > ul:first-child {
    width: 100%;
  }
  .PrCategoryNav ul:first-child ul {
    position: unset;
  }
  .HasMegaMenuSub a:first-child {
    display: inline-block !important;
  }
  .HasMegaMenuSub ul li a {
    background: transparent !important;
    color: #464646 !important;
  }
  .HasMegaMenuSub ul li a::before {
    display: none !important;
  }
  .SearchArea input::-webkit-input-placeholder {
    font-size: 9pt;
    color: #464646;
    padding: 20px 0;
  }
  .SearchArea input:-ms-input-placeholder {
    font-size: 9pt;
    color: #464646;
    padding: 20px 0;
  }
  .SearchArea input::placeholder {
    font-size: 9pt;
    color: #464646;
    padding: 20px 0;
  }
  .GoTopFooter {
    width: 100%;
    margin-right: 0;
  }
  .nav-footer {
    display: none;
  }
  .BlogBox {
    padding-left: 0;
    padding-right: 0;
  }
  .BlogBoxHead h3 span {
    font-size: 9pt;
  }
  .BlogBoxFt {
    padding-right: 0;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .HkNamadItem {
    display: inline-block;
  }
  .HkNamad img {
    max-width: 100%;
  }
  .SearchArea input {
    width: 100%;
    line-height: 0;
    padding: 0 5px;
    height: 62px;
    padding-bottom: 3px;
  }
  .CloseBtnSearchArea {
    display: none;
  }
  .SearchArea {
    max-height: 62px;
  }
  .BlogBoxHead a {
    font-size: 9pt;
  }
  .MainFooterBox {
    margin-top: 50px;
  }
  .HasMegaMenuSub a::after {
    display: none;
  }
  .HasMegaMenuSub a {
    border: 0 !important;
  }
  .HasMegaMenuSub {
    position: relative;
  }
  .HasMegaMenuSub::after {
    font-family: "remixicon";
    content: "\ea50";
    position: absolute;
    left: 5px;
    top: 15px;
    font-size: 20px;
  }
  .HasMegaMenuSubActive {
    background: #fbfbfb !important;
    transition: 0.2s ease-in-out !important;
    color: #0984e3 !important;
  }
  .MobileMenuNavBtnArea {
    margin-top: 22px;
  }
  .UserBtnMobile {
    display: inline-block;
    margin-left: 15px;
    transition: 0.2s;
  }
  .UserBtnMobile i {
    font-size: 24px;
    line-height: 1;
    position: relative;
    top: 2px;
  }
  .UserBtnMobile a:hover,
  .UserBtnMobile a:active {
    text-decoration: none;
    color: #0984e3;
    transition: 0.2s;
  }
  .UserBtnMobile a {
    padding: 5px;
    line-height: 0.8;
    display: inline-flex;
    align-items: center;
    color: #464646;
  }
  .CartAndUserMobile {
    white-space: nowrap;
  }
  #MobileMenuNavBtn {
    display: inline-flex;
    padding: 5px;
  }
  #MobileMenuNavBtn i {
    color: #464646;
    line-height: 0.8;
    cursor: pointer;
    font-size: 24px;
  }
  .Logo {
    padding: 0;
    margin-bottom: 10px;
  }
  .Logo h1 {
    text-align: center;
  }
  .Logo img {
    margin: auto;
  }
  .MainSlider {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .BlogBoxItemSpecialImage {
    height: 300px;
  }
  .ProductsBoxScrollItemBg:first-child {
    padding-right: 0;
    padding-left: 0;
  }
  .ProductsBoxScrollItemBg:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .ProductsBoxScrollItem ul li a h4 {
    font-size: 9.5pt;
  }
  .CopyRight {
    padding: 15px;
  }
  .CopyRight .left {
    text-align: center;
    line-height: 2;
  }
  .CopyRight .right {
    line-height: 2;
    text-align: center;
  }
  .MgShow {
    max-height: 400px;
    overflow-y: auto;
    display: block !important;
  }
  .MgShow li {
    display: block !important;
    background: #f2f2f2 !important;
    line-height: 2;
  }
  .MgShow li a {
    background: #f9f9f9;
  }
  .PrCategoryNav > ul:first-child li a {
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .BlogBoxListItemDesc {
    display: none;
  }
  .PrCategoryNav {
    left: 30%;
  }
  .BlogBoxListItemImage img {
    width: 85px;
    height: 65px;
    border-radius: 5px;
  }
  .BlogBoxListItem {
    padding-right: 90px;
    min-height: 70px;
  }
  .BlogBoxListItemTitle h4 {
    line-height: 1.5;
    font-size: 11pt;
    height: 50px;
  }
  .owl-Products .item {
    padding: 15px;
  }
  .MainSlider {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .Banner-hk-item {
    padding: 0 !important;
  }
  .MainSliderItem {
    min-height: 200px;
  }
}
